#wrap {}
#wrap header {width:1400px; margin:25px auto 0;}
#wrap header #header_top {display:flex; justify-content:space-between;}
#wrap header #header_top h1 {width:170px;}
#wrap header #header_top h1 a {}
#wrap header #header_top h1 a img {}
#wrap header #header_top .header_top_right {}
#wrap header #header_top .header_top_right a {margin-right:20px; font-size:0.813rem;}
#wrap header #header_top .header_top_right a:first-child {}
#wrap header #header_top .header_top_right a:last-child {margin-right:0;}
#wrap header #header_bottom {display:flex; justify-content:space-between; margin:20px 0;}
#wrap header #header_bottom .header_bottom_left {}
#wrap header #header_bottom .header_bottom_left nav {}
#wrap header #header_bottom .header_bottom_left nav .gnb{display:flex; align-items:center; flex-flow:row nowrap; width:449px; height:30px; justify-content:start;}
#wrap header #header_bottom .header_bottom_left nav .gnb button {margin-right:30px; display:block;}
#wrap header #header_bottom .header_bottom_left nav .gnb button img {width:30px;}
#wrap header #header_bottom .header_bottom_left nav .gnb > a {font-weight:500; margin-right:30px;}
#wrap header #header_bottom .header_bottom_left nav .gnb > a:last-child {margin-right:0px;}
#wrap header #header_bottom .header_bottom_left nav .gnb .all_menu {position:relative;}
#wrap header #header_bottom .header_bottom_left nav .gnb .lnb {position:absolute; top:0px; left:30px; background-color:#fff; flex-flow:row wrap; width:0px; padding:0px 0px; z-index:800; transition:all 0.2s linear; opacity:0; display:flex; height:129px; overflow:hidden;}
#wrap header #header_bottom .header_bottom_left nav .gnb .lnb a {font-weight:600; margin:0 70px 40px 0; display:block; width:max-content;}
#wrap header #header_bottom .header_bottom_left nav .gnb .lnb a:nth-child(9n) {margin-right:0px;}
#wrap header #header_bottom .header_bottom_left nav .gnb .lnb a:nth-child(9)~a {margin-bottom:0px;}
#wrap header #header_bottom .header_bottom_left nav .gnb .lnb a:last-child {margin-right:0px;}
#wrap header #header_bottom .header_bottom_right {border:1px solid #000; width:260px; padding:10px 15px; display:flex;}
#wrap header #header_bottom .header_bottom_right input {height:20px;}
#wrap header #header_bottom .header_bottom_right input::placeholder {font-size:0.875rem;}
#wrap header #header_bottom .header_bottom_right a {}
#wrap header #header_bottom .header_bottom_right a img {}
#wrap main {}
#wrap main .main_bn {
    display:grid;
    grid-template-areas:
    'bn1 bn2'
    'bn1 bn3';
    width:1400px;
    margin:0 auto 80px;
    gap:10px;
}
#wrap main .main_bn a {position:relative; top:0; left:0;}
#wrap main .main_bn a p {position:absolute; display:flex; flex-flow:column nowrap; text-align:right;}
#wrap main .main_bn a p em {font-size:1.5rem; font-weight:600; margin-bottom:10px;}
#wrap main .main_bn a p span {font-size:1.125rem; font-weight:600;}
#wrap main .main_bn a:first-child {grid-area:bn1;}
#wrap main .main_bn a:first-child img {}
#wrap main .main_bn a:first-child p {top:36px; right:38px;}
#wrap main .main_bn a:first-child p em {color:#fff;}
#wrap main .main_bn a:first-child p span {color:#fff;}
#wrap main .main_bn a:nth-child(2) {grid-area:bn2;}
#wrap main .main_bn a:nth-child(2) img {}
#wrap main .main_bn a:nth-child(2) p {top:36px; right:31px;}
#wrap main .main_bn a:nth-child(2) p em {}
#wrap main .main_bn a:nth-child(2) p span {}
#wrap main .main_bn a:last-child {grid-area:bn3;}
#wrap main .main_bn a:last-child img {}
#wrap main .main_bn a:last-child p {top:35px; right:44px;}
#wrap main .main_bn a:last-child p em {}
#wrap main .main_bn a:last-child p span {}
#wrap main .color_products {width:1400px; margin:0 auto 80px;}
#wrap main .color_products .red_color {}
#wrap main .color_products div .color_title {padding:15px 30px;  display:flex; justify-content:space-between; align-items:center;}
#wrap main .color_products div .color_title em {font-size:1.125rem; color:#fff; font-weight:600;}
#wrap main .color_products div ul {display:flex; flex-flow:row nowrap; align-items:center; padding:30px 50px; border:1px solid #ccc; border-top:none; justify-content:space-between; transition:opacity 0.2s linear, max-height 0.2s linear; max-height:500px; overflow:hidden;}
#wrap main .color_products div ul li {display:flex; align-items:center;}
#wrap main .color_products div ul li::after {
    content:''; width:1px; height:300px; background-color:#ddd; display:inline-block;
}
#wrap main .color_products div ul li:last-child::after {display:none;}
#wrap main .color_products div ul li > div {margin-right:18px; width:230px;}
#wrap main .color_products div ul li:last-child > div {margin-right:0px;}
#wrap main .color_products div ul li > div p a img {width:230px;}
#wrap main .color_products div ul li > div > div {padding:10px 10px;}
#wrap main .color_products div ul li > div > div > div:nth-child(1) {display:flex; justify-content:space-between; align-items:center;}
#wrap main .color_products div ul li > div > div > div:nth-child(1) div a:nth-of-type(1){font-size:0.875rem;}
#wrap main .color_products div ul li > div > div > div:nth-child(1) div img {margin:0 5px;}
#wrap main .color_products div ul li > div > div > div:nth-child(1) div a:nth-of-type(2){font-size:0.875rem;}
#wrap main .color_products div ul li > div > div > div:nth-child(1) > a img {width:20px;}
#wrap main .color_products div ul li > div > div > div:nth-child(2) {margin:14px 0;}
#wrap main .color_products div ul li > div > div > div:nth-child(2) > p:first-child {margin-bottom:24px; width:100%; line-height:1.2;}
#wrap main .color_products div ul li > div > div > div:nth-child(2) > p:first-child a {font-weight:500;}
#wrap main .color_products div ul li > div > div > div:nth-child(2) > p:last-child a {font-size:1.125rem; font-weight:600;}
#wrap main .color_products div ul li > div > div > div:nth-child(3) {display:flex; justify-content:space-between;}
#wrap main .color_products div ul li > div > div > div:nth-child(3) em {display:block; width:max-content;}
#wrap main .color_products div ul li > div > div > div:nth-child(3) em:first-child {background-color:#eee; padding:3px 4px; border-radius:5px; font-size:0.875rem; color:#777;}
#wrap main .color_products div ul li > div > div > div:nth-child(3) em:last-child {padding:3px 4px; border:1px solid #333; border-radius:5px; font-size:0.75rem; color:#333;}
#wrap main .color_products .color_title button {}
#wrap main .color_products .red_color .color_title {background-color:#f00; border-radius:20px 20px 0 0;}
#wrap main .color_products .red_color .color_title em {}
#wrap main .color_products .red_color .color_title button {}
#wrap main .color_products .red_color .color_title button img {}
#wrap main .color_products .red_color #red_product_wrap {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container::after {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container:last-child::after {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container:last-child .r_p_c {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c p {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c p a {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c p a img {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .one_line {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .one_line .platform_brand {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .one_line .platform_brand .platform {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .one_line .platform_brand img {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .one_line .platform_brand .brand {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .one_line > a {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .one_line > a img {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .two_line {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .two_line > p {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .two_line > p a {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .two_line > p:first-child {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .two_line > p:first-child a {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .two_line > p:last-child {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .two_line > p:last-child a {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .product_event {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .product_event em {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .product_event em:first-child {}
#wrap main .color_products .red_color #red_product_wrap .red_product_container .r_p_c .red_product_contents .product_event em:last-child {}
#wrap main .color_products .green_color {}
#wrap main .color_products .green_color .color_title {background-color:#018c15; border-radius:0;}
#wrap main .color_products .green_color .color_title em {}
#wrap main .color_products .green_color .color_title button {}
#wrap main .color_products .green_color .color_title button img {}
#wrap main .color_products .green_color #green_product_wrap {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container p {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container p a {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container p a img {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .one_line {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .one_line .platform_brand {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .one_line .platform_brand .platform {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .one_line .platform_brand img {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .one_line .platform_brand .brand {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .one_line > a {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .one_line > a img {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .two_line {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .two_line > p {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .two_line > p a {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .two_line > p:first-child {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .two_line > p:first-child a {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .two_line > p:last-child {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .two_line > p:last-child a {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .product_event {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .product_event em {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .product_event em:first-child {}
#wrap main .color_products .green_color #green_product_wrap .green_product_container .green_product_contents .product_event em:last-child {}
#wrap main .color_products .pink_color {}
#wrap main .color_products .pink_color .color_title {background-color:#fb1a78;}
#wrap main .color_products .pink_color .color_title em {}
#wrap main .color_products .pink_color .color_title button {}
#wrap main .color_products .pink_color .color_title button img {}
#wrap main .color_products .pink_color #pink_product_wrap {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container p {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container p a {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container p a img {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .one_line {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .one_line .platform_brand {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .one_line .platform_brand .platform {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .one_line .platform_brand img {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .one_line .platform_brand .brand {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .one_line > a {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .one_line > a img {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .two_line {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .two_line > p {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .two_line > p a {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .two_line > p:first-child {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .two_line > p:first-child a {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .two_line > p:last-child {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .two_line > p:last-child a {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .product_event {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .product_event em {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .product_event em:first-child {}
#wrap main .color_products .pink_color #pink_product_wrap .pink_product_container .pink_product_contents .product_event em:last-child {}
#wrap main .friend_brands {max-width:1400px; display:flex; justify-content:space-between; margin:0 auto 80px;}
#wrap main .friend_brands a {display:flex; flex-flow:column nowrap; align-items:center;}
#wrap main .friend_brands a img {width:100px; margin-bottom:25px;}
#wrap main .friend_brands a em {}
#wrap main .friend_brands a:last-child {}
#wrap main .friend_brands a:last-child img {}
#wrap main .friend_brands a:last-child em {}
#wrap main #best50 {margin:0 auto 80px; padding:30px 0; background-color:#f5f5f5;}
#wrap main #best50 h2 {font-size:1.5rem; font-weight:600; text-align:left; margin:0 auto 50px; max-width:1400px;}
#wrap main #best50 .best50_product_wrap {max-width:1400px; margin:0 auto 30px; display:flex; justify-content:space-between;}
#wrap main #best50 .best50_product_wrap li {border:1px solid #dcdcdc; width:250px;}
#wrap main #best50 .best50_product_wrap li .best50_product_img {position:relative;}
#wrap main #best50 .best50_product_wrap li .best50_product_img a {height:350px; width:max-content; display:inline-block;}
#wrap main #best50 .best50_product_wrap li .best50_product_img a em {position:absolute; top:0px; left:0px; font-size:1.25rem; padding:7px 12px;}
#wrap main #best50 .best50_product_wrap li .best50_product_img a img {}
#wrap main #best50 .best50_product_wrap li .best50_product_contents {display:flex; flex-flow:column nowrap; padding:15px;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .one_line {display:flex; justify-content:space-between; margin-bottom:20px;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .one_line a:first-child {font-size:0.875rem;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .one_line a:last-child {}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .one_line a:last-child img {width:12px; height:12px;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line {margin-bottom:20px; display:flex; flex-flow:column nowrap; justify-content:space-between; height:69px;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line > p {margin-bottom:10px;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line > p a {font-weight:600;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line > a {}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line > a .sale {}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line > a .sale .origin_price {text-decoration:line-through; font-size:0.875rem; font-weight:600;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line > a .sale .price_sale_percent {display:flex; justify-content:space-between;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line > a .sale .price_sale_percent p {}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line > a .sale .price_sale_percent p:first-child {font-size:1.125rem; font-weight:600;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .two_line > a .sale .price_sale_percent p:last-child {font-size:1.125rem; font-weight:600;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .product_event {display:flex; justify-content:space-between;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .product_event em {font-size:0.75rem;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .product_event em:first-child {background-color:#fff; padding:2px 3px; border-radius:5px;}
#wrap main #best50 .best50_product_wrap li .best50_product_contents .product_event em:last-child {padding:3px 4px; border:1px solid #000; border-radius:5px; color:#222;}
#wrap main #best50 > a {padding:10px 20px; border:1px solid #111; display:block; width:94px; font-size:0.875rem; font-weight:500; margin:0 auto;}
#wrap main #art {max-width:max-content; margin:0 auto 80px;}
#wrap main #art .title_more {display:flex; justify-content:space-between; align-items:end; margin-bottom:50px;}
#wrap main #art .title_more h2 {font-size:1.5rem; font-weight:600;}
#wrap main #art .title_more a {}
#wrap main #art .title_more a em {font-size:0.875rem; font-weight:500;}
#wrap main #art .title_more a img {}
#wrap main #art .art_container {display:flex; justify-content:center;}
#wrap main #art .art_container .art_bg {position:relative; margin-right:25px;}
#wrap main #art .art_container .art_bg img {}
#wrap main #art .art_container .art_bg p {position:absolute; top:20px; right:20px;}
#wrap main #art .art_container .art_bg p span {font-size:1.5rem; font-weight:600; margin-right:3px;}
#wrap main #art .art_container .art_bg p em {font-size:1.75rem; font-weight:700;}
#wrap main #art .art_container .art_product_wrap {}
#wrap main #art .art_container .art_product_wrap ul {display:flex; flex-flow:column nowrap;}
#wrap main #art .art_container .art_product_wrap ul li {position:relative; width:340px;}
#wrap main #art .art_container .art_product_wrap ul li::after {
    content:''; display:block; width:340px; height:1px; background-color:#ddd; margin:30px 0;
}
#wrap main #art .art_container .art_product_wrap ul li:last-child::after {display:none;}
#wrap main #art .art_container .art_product_wrap ul li a {display:flex; flex-flow:row nowrap; align-items:center;}
#wrap main #art .art_container .art_product_wrap ul li a > img {margin-right:10px;}
#wrap main #art .art_container .art_product_wrap ul li a .product_contents {}
#wrap main #art .art_container .art_product_wrap ul li a .product_contents .product_brand {font-size:0.875rem; font-weight:500;}
#wrap main #art .art_container .art_product_wrap ul li a .product_contents .product_title {font-weight:500; margin:10px 0;}
#wrap main #art .art_container .art_product_wrap ul li a .product_contents .product_price {font-weight:500; font-size:1.125rem;}
#wrap main #art .art_container .art_product_wrap ul li button {position:absolute; top:10px; right:10px;}
#wrap main #art .art_container .art_product_wrap ul li button img {}
#wrap main .event_bnr {margin-bottom:80px;}
#wrap main .event_bnr a {}
#wrap main .event_bnr a img {width:100%;}
#wrap main #now_love_brands {max-width:1400px; margin:0 auto 80px;}
#wrap main #now_love_brands h2 {font-size:1.5rem; font-weight:600; margin-bottom:50px;}
#wrap main #now_love_brands .love_brands {width:1400px;}
#wrap main #now_love_brands .love_brands .swiper-wrapper {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .swiper-slide {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .swiper-slide a {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .swiper-slide a img {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide1 {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide1 a {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide1 a img {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide2 {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide2 a {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide2 a img {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide3 {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide3 a {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide3 a img {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide4 {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide4 a {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide4 a img {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide5 {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide5 a {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide5 a img {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide6 {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide6 a {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide6 a img {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide7 {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide7 a {}
#wrap main #now_love_brands .love_brands .swiper-wrapper .slide7 a img {}
#wrap main #week_best_product_wrap {padding:50px 0; background-color:#f5f5f5; margin-bottom:80px;}
#wrap main #week_best_product_wrap .topic_more {display:flex; justify-content:space-between; max-width:1400px; margin:0 auto 50px; align-items:end;}
#wrap main #week_best_product_wrap .topic_more h2 {font-size:1.5rem; font-weight:600;}
#wrap main #week_best_product_wrap .topic_more a {}
#wrap main #week_best_product_wrap .topic_more a em {font-size:0.875rem; font-weight:500;}
#wrap main #week_best_product_wrap .topic_more a img {}
#wrap main #week_best_product_wrap .week_best_product_container {max-width:1250px; margin:0 auto; display:flex; justify-content:space-between;}
#wrap main #week_best_product_wrap .week_best_product_container li {display:flex; align-items:center;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content {width:200px;}
#wrap main #week_best_product_wrap .week_best_product_container li::after {
    content:''; display:block; background-color:#fff; width:1px; height:360px; margin-left:31px;
}
#wrap main #week_best_product_wrap .week_best_product_container li:last-child::after {display:none;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content > a {}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content > a img {}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .one_line {display:flex; justify-content:space-between; align-items:center; padding:0 15px; margin:12px 0 20px;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .one_line a {}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .one_line a:first-child {font-size:0.875rem;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .one_line a:last-child {display:flex; align-items:center;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .one_line a:last-child img {margin-right:2px;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .one_line a:last-child em {font-size:0.625rem;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .two_line {padding:0 15px;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .two_line a {height:71px; display:flex; flex-flow:column nowrap;justify-content:space-between;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .two_line a p {}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .two_line a p:first-child {font-weight:600;}
#wrap main #week_best_product_wrap .week_best_product_container li .week_best_product_content .two_line a p:last-child {font-weight:600; font-size:1.125rem;}
#wrap main #review_check_item {max-width:1400px; margin:0 auto 80px;}
#wrap main #review_check_item .review_product_title {display:flex; justify-content:space-between; align-items:end; margin-bottom:50px;}
#wrap main #review_check_item .review_product_title h2 {font-size:1.5rem; font-weight:600;}
#wrap main #review_check_item .review_product_title a {display:flex; align-items:center;}
#wrap main #review_check_item .review_product_title a em {font-size:0.875rem;font-weight:500;}
#wrap main #review_check_item .review_product_title a img {}
#wrap main #review_check_item ul {margin:0 auto; display:flex; justify-content:space-between; width:1294px;}
#wrap main #review_check_item ul li {width:286px; padding:12px 18px; border:1px solid #ddd;}
#wrap main #review_check_item ul li > a {display:block; height:270px; width:250px; margin-bottom:8px;}
#wrap main #review_check_item ul li > a img {height:270px; display:block;}
#wrap main #review_check_item ul li .product_contents {border-top:1px solid #ddd;}
#wrap main #review_check_item ul li .product_contents .contents_top {display:flex; padding:20px 24px 10px; justify-content:space-between;}
#wrap main #review_check_item ul li .product_contents .contents_top .brand_title {display:flex; flex-flow:column nowrap;}
#wrap main #review_check_item ul li .product_contents .contents_top .brand_title a {}
#wrap main #review_check_item ul li .product_contents .contents_top .brand_title a:first-child {margin-bottom:4px;}
#wrap main #review_check_item ul li .product_contents .contents_top .brand_title a span {font-size:0.75rem;}
#wrap main #review_check_item ul li .product_contents .contents_top .brand_title a em {font-size:0.875rem; font-weight:600;}
#wrap main #review_check_item ul li .product_contents .contents_top button {}
#wrap main #review_check_item ul li .product_contents .contents_top button img {}
#wrap main #review_check_item ul li .product_contents .price {padding:0 24px 12px; margin-bottom:10px;}
#wrap main #review_check_item ul li .product_contents .price p {}
#wrap main #review_check_item ul li .product_contents .price p span {font-size:0.938rem; font-weight:600; margin-right:4px;}
#wrap main #review_check_item ul li .product_contents .price p em {font-size:0.938rem; font-weight:600;}
#wrap main #review_check_item ul li .product_contents .contents_bottom {padding:0 24px;}
#wrap main #review_check_item ul li .product_contents .contents_bottom a {}
#wrap main #review_check_item ul li .product_contents .contents_bottom a > p {font-size:0.813rem; height:50px; overflow:hidden; width:210px; line-height:1.3; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; margin-bottom:8px;}
#wrap main #review_check_item ul li .product_contents .contents_bottom a .review_star_writer {display:flex; margin:8px 0; align-items:center; padding:8px 0 0;}
#wrap main #review_check_item ul li .product_contents .contents_bottom a .review_star_writer .review_star {margin-right:8px; height:12px;}
#wrap main #review_check_item ul li .product_contents .contents_bottom a .review_star_writer .review_star img {height:12px; width:12px;}
#wrap main #review_check_item ul li .product_contents .contents_bottom a .review_star_writer .review_star img:last-child {}
#wrap main #review_check_item ul li .product_contents .contents_bottom a .review_star_writer p {font-size:0.75rem; color:#777;}
#wrap footer {width:1400px; margin:20px auto 25px; display:flex; justify-content:space-between; border-top:1px solid #ddd; padding:50px 100px 0;}
#wrap footer div div p {font-size:0.813rem; line-height:1.2; margin-bottom:5px;}
#wrap footer div div p:last-child {margin-bottom:0;}
#wrap footer .basics_contents {}
#wrap footer .basics_contents div {margin-bottom:20px;}
#wrap footer .basics_contents .email {}
#wrap footer .basics_contents .email p {}
#wrap footer .basics_contents .email p:first-child {}
#wrap footer .basics_contents .email p:last-child {}
#wrap footer .basics_contents .address {}
#wrap footer .basics_contents .address p {}
#wrap footer .basics_contents .address p:first-child {}
#wrap footer .basics_contents .address p:last-child {}
#wrap footer .basics_contents .business_number {}
#wrap footer .basics_contents .business_number p {}
#wrap footer .basics_contents .business_number p:first-child {}
#wrap footer .basics_contents .business_number p:last-child {}
#wrap footer .basics_contents .business_number p:last-child em {}
#wrap footer .basics_contents .business_number p:last-child a {}
#wrap footer .basics_contents .representative {}
#wrap footer .basics_contents .representative p {}
#wrap footer .basics_contents .representative p:first-child {}
#wrap footer .basics_contents .representative p:last-child {}
#wrap footer .basics_contents .communication_sale_number {}
#wrap footer .basics_contents .communication_sale_number p {}
#wrap footer .basics_contents .communication_sale_number p:first-child {}
#wrap footer .basics_contents .communication_sale_number p:last-child {}
#wrap footer .basics_contents .sponsor {}
#wrap footer .basics_contents .sponsor p {}
#wrap footer .basics_contents .sponsor p:first-child {}
#wrap footer .basics_contents .sponsor p:last-child {}
#wrap footer .communication {}
#wrap footer .communication .communication_contents {margin-bottom:50px;}
#wrap footer .communication .communication_contents p {margin-bottom:10px;}
#wrap footer .communication .communication_contents p span {margin-right:12px;}
#wrap footer .communication .communication_contents p em {}
#wrap footer .communication .communication_contents p:nth-child(1) {}
#wrap footer .communication .communication_contents p:nth-child(1) span {}
#wrap footer .communication .communication_contents p:nth-child(1) em {}
#wrap footer .communication .communication_contents p:nth-child(2) {}
#wrap footer .communication .communication_contents p:nth-child(2) span {}
#wrap footer .communication .communication_contents p:nth-child(2) em {}
#wrap footer .communication .communication_contents p:nth-child(3) {margin-bottom:0;}
#wrap footer .communication .communication_contents p:nth-child(3) span {}
#wrap footer .communication .communication_contents p:nth-child(3) em {}
#wrap footer .communication > p {font-size:0.813rem;}
#wrap footer .customer_service {display:flex; flex-flow:column nowrap;}
#wrap footer .customer_service a {font-size:0.938rem; font-weight:500; margin-bottom:50px; text-align:center;}
#wrap footer .customer_service a:nth-child(1) {}
#wrap footer .customer_service a:nth-child(2) {}
#wrap footer .customer_service a:nth-child(3) {}
#wrap footer .customer_service a:nth-child(4) {margin-bottom:0;}